<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <div>
      <div>
        <h1>
          <span>Log in</span>
        </h1>
        <form action="/login" method="post">
          <div>
            <label>Username</label>
            <input type="text" name="username" />
          </div>
          <div>
            <label>Password</label>
            <input type="password" name="password" />
          </div>

          <button type="submit">Login</button>
        </form>
      </div>
    </div>
  </body>
</html>
